.status_selected {
    background-repeat: no-repeat;
    background-size: contain, cover;
    display: inline-block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.status_selected {
    position: fixed;
    z-index: 0;
}
.status_not_selected {
    position: fixed;
	/*z-index: 98;*/
}
.status_selected a, .status_not_selected a {
    background-image: url(https://www.dropbox.com/s/f5jnhkqhi6nykne/category.png?dl=1);
    display: inline-block;
    font-size: 0;
    height: 100px;
    position: fixed;
    right: 5px;
    top: 50%;
    width: 73px;
}
.status_not_selected a {
    opacity: 0.7;
    transition: opacity 0.4s ease 0s;
}
.status_selected a, .status_not_selected a:hover {
    opacity: 1;
}
.status_selected a:before, .status_not_selected a:before {
    background-image: url(https://www.dropbox.com/s/2oy9b8jmauhonax/category_hover.png?dl=1);
    content: "";
    display: inline-block;
    height: 100px;
    left: -227px;
    position: absolute;
}
.status_not_selected a:before {
    opacity: 0;
    transition: opacity 0.4s ease 0s, width 0.4s ease 0s;
    width: 0;
}
.status_selected a:before, .status_not_selected a:hover:before {
    opacity: 1;
    width: 200px;
}
.status_not_selected a[href*="status=1"] {
    background-position: 0 0;
    margin-top: -285px;
}
.status_selected a[href*="status=1"], .status_not_selected a[href*="status=1"]:hover {
    background-position: -73px 0;
    margin-top: -285px;
}
.status_not_selected a[href*="status=2"] {
    background-position: 0 -100px;
    margin-top: -195px;
}
.status_selected a[href*="status=2"], .status_not_selected a[href*="status=2"]:hover {
    background-position: -73px -100px;
    margin-top: -195px;
}
.status_selected a[href*="status=2"]:before, .status_not_selected a[href*="status=2"]:before, .status_not_selected a[href*="status=2"]:hover:before {
    background-position: 0 -100px;
}
.status_not_selected a[href*="status=3"] {
    background-position: 0 -200px;
    margin-top: -100px;
}
.status_selected a[href*="status=3"], .status_not_selected a[href*="status=3"]:hover {
    background-position: -73px -200px;
    margin-top: -100px;
}
.status_selected a[href*="status=3"]:before, .status_not_selected a[href*="status=3"]:before, .status_not_selected a[href*="status=3"]:hover:before {
    background-position: 0 -200px;
}
.status_not_selected a[href*="status=4"] {
    background-position: 0 -300px;
    margin-top: -5px;
}
.status_selected a[href*="status=4"], .status_not_selected a[href*="status=4"]:hover {
    background-position: -73px -300px;
    margin-top: -5px;
}
.status_selected a[href*="status=4"]:before, .status_not_selected a[href*="status=4"]:before, .status_not_selected a[href*="status=4"]:hover:before {
    background-position: 0 -300px;
}
.status_not_selected a[href*="status=6"] {
    background-position: 0 -400px;
    margin-top: 90px;
}
.status_selected a[href*="status=6"], .status_not_selected a[href*="status=6"]:hover {
    background-position: -73px -400px;
    margin-top: 90px;
}
.status_selected a[href*="status=6"]:before, .status_not_selected a[href*="status=6"]:before, .status_not_selected a[href*="status=6"]:hover:before {
    background-position: 0 -400px;
}
.status_not_selected a[href*="status=7"] {
    background-position: 0 -500px;
    margin-top: 185px;
}
.status_selected a[href*="status=7"], .status_not_selected a[href*="status=7"]:hover {
    background-position: -73px -500px;
    margin-top: 185px;
}
.status_selected a[href*="status=7"]:before, .status_not_selected a[href*="status=7"]:before, .status_not_selected a[href*="status=7"]:hover:before {
    background-position: 0 -500px;
}

/* http://myanimelist.net/forum/?topicid=1327757 */