/* 1) Generated covers */
/*@import url(https://muffuins.github.io/mal-theme/covers/manga_all_covers.css?dl=1);*/
@import url(https://muffuins.github.io/mal-theme/covers/manga_covers_nick.css?dl=1);
@import url(https://malcat-gen.appspot.com/series?preset=more&user=ACIIX&list=manga);
@import url(https://muffuins.github.io/mal-theme/covers/manga_cover_override_nick.css?dl=1);

/* 2) Base layout */
@import url(https://muffuins.github.io/mal-theme/style/style_nick.css?dl=1);

/* 3) Top-bar icons */
@import url(https://muffuins.github.io/mal-theme/bar/japan.css?dl=1);

/* 4) Layout theme */
@import url(https://muffuins.github.io/mal-theme/style/theme_nick.css?dl=1);

/* 5) Addons - Add as many as you want */
@import url(https://muffuins.github.io/mal-theme/addons/longcovers.css?dl=1);
@import url(https://muffuins.github.io/mal-theme/addons/asuka.css?dl=1);

/* 6) Options */
/* Determines the number of covers on each row, it should be a multiple of 242px */
/* Can only display 3-6 covers */
/* 3 = 726px */
/* 4 = 968px */
/* 5 = 1210px */
/* 6 = 1452px */
#mal\_control\_strip, #list_surround {width: 968px;}
@media all and (min-device-width:1600px) {
#mal\_control\_strip, #list_surround {width: 1210px;}
}
@media all and (min-device-width:1920px) {
#mal\_control\_strip, #list_surround {width: 1452px;}
}

/* Header picture */
#inlineContent {background-image: url(https://muffuins.github.io/mal-theme/header/redline_sonoshee.jpg?dl=1);}

/* Default picture when no cover is found */
.hide {background-image: url(https://muffuins.github.io/mal-theme/covers/default_nge.jpg?dl=1);}

/* Links color */
a {color: rgb(39, 255, 195);}
