/* 1) Generated covers */
/*@import url(https://muffuins.github.io/mal-theme/covers/all_covers.css);*/
@import url(https://muffuins.github.io/mal-theme/covers/covers.css);
@import url(https://malcat-gen.appspot.com/series?preset=more&user=muffuins&list=anime);
@import url(https://muffuins.github.io/mal-theme/covers/cover_override.css);
@import url(https://www.dropbox.com/s/v89gmgnpybrsiny/cover_override.css?dl=1;)

/* 2) Base layout */
@import url(https://muffuins.github.io/mal-theme/style/style.css);

/* Other */
/*@import url(https://muffuins.github.io/mal-theme/other/category.css);*/

/* 3) Top-bar icons */
@import url(https://muffuins.github.io/mal-theme/bar/gnome.css);

/* 4) Layout theme */
@import url(https://muffuins.github.io/mal-theme/style/theme.css);

/* 5) Addons - Add as many as you want */
@import url(https://muffuins.github.io/mal-theme/addons/longcovers.css);
@import url(https://muffuins.github.io/mal-theme/addons/centerbar.css);
@import url(https://muffuins.github.io/mal-theme/addons/kingdom-hearts.css);

/* 6) Options */
/* Determines the number of covers on each row, it should be a multiple of 242px */
/* Can only display 3-6 covers */
/* 3 = 726px */
/* 4 = 968px */
/* 5 = 1210px */
/* 6 = 1452px */
#mal\_control\_strip, #list_surround {width: 968px;}
@media (min-width: 1600px) {
#mal\_control\_strip, #list_surround {width: 1210px;}
}
@media (min-width: 1920px) {
#mal\_control\_strip, #list_surround{width: 1452px;}
}

/* Header picture */
/*#inlineContent {background-image: url(https://muffuins.github.io/mal-theme/header/kingdomhearts.jpg);}*/

/* Default picture when no cover is found */
.hide {background-image: url(https://i.imgur.com/6PArzaf.jpg);}

/* Links color */
a {color:#0099FF;}

/* Other */
/* @media all and (max-width: 1600px) { 
	#list_surround {
		margin-right: 285px;
		margin-left: 40px;
		float:right;
	}
} */

#list_surround > table:first-of-type td:last-of-type { display: none; }
#list_surround > table:last-of-type { display: none; }
