#list_surround > table:nth-of-type(n+4):not(.header_cw):not(.header_completed):not(.header_onhold):not(.header_dropped):not(.header_ptw):hover {
	z-index: 4;
}
#list_surround > table:hover + .hide {
	z-index: 3;
}
#list_surround:before {
	pointer-events: none;
	position: fixed;
	bottom: 11px;
	margin-left: -212px;
	content: url(https://muffuins.github.io/mal-theme/addons/asuka_left.png);
	z-index: 2;
}
#list_surround:after {
	pointer-events: none;
	position: fixed;
	bottom: 11px;
	width: inherit;
	min-width: inherit;
	max-width: inherit;
	margin-left: 212px;
	content: url(https://muffuins.github.io/mal-theme/addons/asuka_right.png);
	text-align: right;
	z-index: 1;
}
