#inlineContent {
	background-position: left;
}
#mal_control_strip tbody {
	right: 11.5%;
}
.header_cw + table, .header_completed + table, .header_onhold + table,
.header_dropped + table, .header_ptw + table {
	right: 11.5%;
	margin-right: 225px;
}