/* A-Channel */ #more9776{background-image: url(https://i.imgur.com/CTdX78j.jpg);}
/* +A-Channel */ #more10737{background-image: url(https://i.imgur.com/hjSJr1T.jpg);}
/* A-Channel+smile */ #more11339{background-image: url(https://i.imgur.com/f0d8nbq.jpg);}
/* Ace Attorney */ /*#more31630{background-image: url(https://i.imgur.com/O83cgen.jpg);}*/
/* Aiura */ #more17082{background-image: url(https://i.imgur.com/YdYtJvA.jpg);}
/* Amanchu! */ /*#more31771{background-image: url(https://i.imgur.com/ykLLLv3.jpg);}*/
/* Anne-Happy */ /*#more31080{background-image: url(https://i.imgur.com/0vDCknd.jpg);}*/
/* Aoharu x Machine Gun */ #more30205{background-image: url(https://i.imgur.com/H6CkbGN.jpg);}
/* Aria the Animation */ #more477{background-image: url(https://i.imgur.com/1lSdd4I.jpg);}
/* Aria the Scarlet Ammo AA */ #more28883{background-image: url(https://i.imgur.com/08bx2eu.jpg);}
/* Assassination Classroom */ #more24833{background-image: url(https://i.imgur.com/r9wrZKO.jpg);}
/* Baccano! */ #more2251{background-image: url(https://i.imgur.com/moyeHtv.jpg);}
/* Baccano! Specials */ #more3901{background-image: url(https://i.imgur.com/9l31oo7.jpg);}
/* Bakuon!! */ /*#more30795{background-image: url(https://i.imgur.com/Kun9cUI.jpg);}*/
/* Bakuon!! OVA */ /*#more31883{background-image: url(https://i.imgur.com/1VymSkW.jpg);}*/
/* Best Student Council */ #more456{background-image: url(https://i.imgur.com/sB9a03Z.jpg);}
/* Blue Drop */ #more2964{background-image: url(https://i.imgur.com/SWvhhuP.jpg);}
/* Bodacious Space Pirates */ #more8917{background-image: url(https://i.imgur.com/JmdyWEu.jpg);}
/* Canaan */ #more5356{background-image: url(https://i.imgur.com/t78YZIv.jpg);}
/* Candy Boy */ #more4535{background-image: url(https://i.imgur.com/WT8bHny.jpg);}
/* Candy Boy Episode 0 */ #more3456{background-image: url(https://i.imgur.com/KdlZnLA.jpg);}
/* Candy Boy Ex1 */ #more5116{background-image: url(https://i.imgur.com/HOJTW6J.jpg);}
/* Candy Boy Ex2 */ #more6479{background-image: url(https://i.imgur.com/LYJdX5F.jpg);}
/* The Cat Returns */ /*#more597{background-image: url(https://i.imgur.com/LYJdX5F.jpg);}*/
/* Castle Town Dandelion */ #more28387{background-image: url(https://i.imgur.com/hYWLw3m.jpg);}
/* D-Frag! */ #more20031{background-image: url(https://i.imgur.com/kbjAjVB.jpg);}
/* D-Frag! OVA */ #more23383{background-image: url(https://i.imgur.com/epI50wh.jpg);}
/* Death Billiards */ #more14353{background-image: url(https://i.imgur.com/lREadV2.jpg);}
/* Death Parade */ #more28223{background-image: url(https://i.imgur.com/cNNocyq.jpg);}
/* Dragon Age: Dawn of the Seeker */ #more11705{background-image: url(https://i.imgur.com/blSQdtU.jpg);}
/* Encouragement of Climb */ #more14355{background-image: url(https://i.imgur.com/MgUT80P.jpg);}
/* Encouragement of Climb OVA */ #more17341{background-image: url(https://i.imgur.com/4w7mAjt.jpg);}
/* Etotama */ #more28221{background-image: url(https://i.imgur.com/wv345IE.jpg);}
/* Fantasista Doll */ #more15883{background-image: url(https://i.imgur.com/p0Vfwi7.jpg);}
/* Fate/kaleid liner Prisma Illya */ #more14829{background-image: url(https://i.imgur.com/E8OL63u.jpg);}
/* Fate/kaleid liner Prisma Illya Specials */ #more19109{background-image: url(https://i.imgur.com/IAbyASn.jpg);}
/* Fate/kaleid liner Prisma Illya OVA */ #more18851{background-image: url(https://i.imgur.com/TnfPHeG.jpg);}
/* Fate/kaleid liner Prisma Illya 2wei! */ #more20509{background-image: url(https://i.imgur.com/3qjl283.jpg);}
/* Fate/kaleid liner Prisma Illya 2wei!  Specials*/ #more25011{background-image: url(https://i.imgur.com/HqZKwA6.jpg);}
/* Fate/kaleid liner Prisma Illya 2wei! OVA */ #more26057{background-image: url(https://i.imgur.com/JceLKxS.jpg);}
/* Fate/kaleid liner Prisma Illya 2wei Herz! */ #more27525{background-image: url(https://i.imgur.com/FquDxrb.jpg);}
/* Fate/kaleid liner Prisma Illya 3rei!! */ /*#more31706{background-image: url(https://i.imgur.com/vEKwUTT.jpg);}*/
/* Flying Witch */ /*#more31376{background-image: url(https://i.imgur.com/73ngA8w.jpg);}*/
/* Fractale */ #more9314{background-image: url(https://i.imgur.com/gt533oK.jpg);}
/* Free! */ #more18507{background-image: url(https://i.imgur.com/PaJIsXa.jpg);}
/* Gakkou Gurashi! */ #more24765{background-image: url(https://i.imgur.com/HLsEkZk.jpg);}
/* Girl Friend BETA */ #more24855{background-image: url(https://i.imgur.com/CFdcZtI.jpg);}
/* Gourmet Girl Graffiti */ #more24629{background-image: url(https://i.imgur.com/tQfnWo5.jpg);}
/* Haifuri */ /*#more31500{background-image: url(https://i.imgur.com/WjFs0q1.jpg);}*/
/* Himouto! Umaru-chan */ #more28825{background-image: url(https://i.imgur.com/1CQ6ofJ.jpg);}
/* Hinako Note */ #more33948{background-image: url(https://i.imgur.com/O7vKAO4.jpg);}
/* Hitohira */ #more1721{background-image: url(https://i.imgur.com/ACvqMhQ.jpg);}
/* Hyperdimension Neptunia */ #more16157{background-image: url(https://i.imgur.com/PMbET45.jpg);}
/* The iDOLM@STER Cinderella Girls */ #more23587{background-image: url(https://i.imgur.com/1RjwXGP.jpg);}
/* The iDOLM@STER Cinderella Girls Season 2*/ #more30344{background-image: url(https://i.imgur.com/6c8V7gZ.jpg);}
/* K-On! */ #more5680{background-image: url(https://i.imgur.com/7e07FUi.jpg);}
/* K-On! Ura-On! */ #more7017{background-image: url(https://i.imgur.com/JXdedip.jpg);}
/* K-On! Live House! */ #more6862{background-image: url(https://i.imgur.com/x2O7OiR.jpg);}
/* Kannazuki no Miko */ #more143{background-image: url(https://i.imgur.com/lCAwkBF.jpg);}
/* Kantai Collection */ #more21511{background-image: url(https://i.imgur.com/iJrDmMm.jpg);}
/* Kiniro Mosaic */ #more16732{background-image: url(https://i.imgur.com/it80U0K.jpg);}
/* Kiniro Mosaic Season 2 - Hello!! Kiniro Mosaic */ #more23269{background-image: url(https://i.imgur.com/HOzj8Ou.jpg);}
/* Koihime Musou */ #more4262{background-image: url(https://i.imgur.com/OpQr6IX.jpg);}
/* Koihime Musou OVA */ #more5305{background-image: url(https://i.imgur.com/5U9stg5.jpg);}
/* Konohana Kitan */ #more35241{background-image: url(https://i.imgur.com/bn2JlNp.jpg);}
/* Kumamiko */ /*#more31804{background-image: url(https://i.imgur.com/UvZ69MW.jpg);}*/
/* Love Live! School Idol Project */ #more15051{background-image: url(https://i.imgur.com/8Aj0toK.jpg);}
/* Love Live! OVA */ #more20745{background-image: url(https://i.imgur.com/C7oIvvN.jpg);}
/* Love Live! Season 2 */ #more19111{background-image: url(https://i.imgur.com/y3mJJqR.jpg);}
/* Love Live! Movie */ #more24997{background-image: url(https://i.imgur.com/cjpDmag.jpg);}
/* Love Live! Sunshine!! */ #more32526{background-image: url(https://i.imgur.com/ZMfCJkK.jpg);}
/* Magical Girl Lyrical Nanoha */ #more76{background-image: url(https://i.imgur.com/IcTUi8U.jpg);}
/* Magical Girl Lyrical Nanoha A's */ #more77{background-image: url(https://i.imgur.com/ncS46oh.jpg);}
/* Magical Girl Lyrical Nanoha StrikerS */ #more1915{background-image: url(https://i.imgur.com/TovnkT6.jpg);}
/* Magical Girl Lyrical Nanoha ViVid */ #more25939{background-image: url(https://i.imgur.com/cWtIhzA.jpg);}
/* Maria-sama ga Miteru */ #more158{background-image: url(https://i.imgur.com/JUPJLUD.jpg);}
/* Maria-sama ga Miteru Specials */ #more3468{background-image: url(https://i.imgur.com/YcqzDH3.jpg);}
/* Mass Effect: Paragon Lost */ #more13239{background-image: url(https://i.imgur.com/hxuAt4h.jpg);}
/* Mikagura School Suite */ #more28817{background-image: url(https://i.imgur.com/KfQaINK.jpg);}
/* New Game! */ /*#more31953{background-image: url(https://i.imgur.com/SrznL0H.jpg);}*/
/* Nichijou */ #more10165{background-image: url(https://i.imgur.com/wNpHKkt.jpg);}
/* Nichijou Episode 0 */ #more8857{background-image: url(https://i.imgur.com/kvkN9yU.jpg);}
/* Noir */ #more272{background-image: url(https://i.imgur.com/nd4QOuq.jpg);}
/* Non Non Biyori */ #more17549{background-image: url(https://i.imgur.com/LpUOynR.jpg);}
/* Non Non Biyori OVA */ #more21667{background-image: url(https://i.imgur.com/OII6FRe.jpg);}
/* Non Non Biyori Repeat */ #more23623{background-image: url(https://i.imgur.com/CUoCVs4.jpg);}
/* Nyanko Days */ #more34148{background-image: url(https://i.imgur.com/YJggGuD.jpg);}
/* Pan de Peace! */ #more31498{background-image: url(https://i.imgur.com/DkofjIH.jpg);}
/* Pandora in the Crimson Shell */ #more32214{background-image: url(https://i.imgur.com/2GU9i7v.jpg);}
/* Pokemon: Origins */ #more20159{background-image: url(https://i.imgur.com/S23SZ7I.jpg);}
/* Pretty Cure */ /*#more603{background-image: url(https://i.imgur.com/0jTl1J6.jpg);}*/
/* Princess Mononoke */ #more164{background-image: url(https://i.imgur.com/2pQM0II.jpg);}
/* Queen's Blade */ #more4719{background-image: url(https://i.imgur.com/eNPmy5r.jpg);}
/* Re-Kan! */ #more25859{background-image: url(https://i.imgur.com/R9uNrIv.jpg);}
/* Regalia: The Three Sacred Stars */ /*#more32961{background-image: url(https://i.imgur.com/geZjTyK.jpg);}*/
/* Rolling Girls */ #more25867{background-image: url(https://i.imgur.com/TUGuhjB.jpg);}
/* Saki */ #more5671{background-image: url(https://i.imgur.com/lRiCDmG.jpg);}
/* Saki Achiga-hen: Episode of Side-A */ #more10884{background-image: url(https://i.imgur.com/jzflGWV.jpg);}
/* Saki Achiga-hen Specials */ #more15989{background-image: url(https://i.imgur.com/wHZv4aH.jpg);}
/* Saki Season 2: Zenkoku-hen */ #more16123{background-image: url(https://i.imgur.com/InGS28I.jpg);}
/* Sakura Trick */ #more20047{background-image: url(https://i.imgur.com/PY4Pqd4.jpg);}
/* Scrapped Princess */ /*#more167{background-image: url(https://i.imgur.com/R56e0Uu.jpg);}*/
/* The Secret World of Arrietty */ #more7711{background-image: url(https://i.imgur.com/uMmfxQ0.jpg);}
/* Seiyu's Life! */ #more29163{background-image: url(https://i.imgur.com/Kk0BJoI.jpg);}
/* Sengoku Collection */ #more12611{background-image: url(https://i.imgur.com/6DmtgEa.jpg);}
/* Shattered Angels */ /*#more1810{background-image: url(https://i.imgur.com/Xg7am2R.jpg);}*/
/* Show By Rock!! */ #more27441{background-image: url(https://i.imgur.com/A2d5USa.jpg);}
/* Show By Rock!! Short */ /*#more32039{background-image: url(https://i.imgur.com/QMfXccx.jpg);}*/
/* Simoun */ #more879{background-image: url(https://i.imgur.com/ZxqMemF.jpg);}
/* Sound! Euphonium */ #more27989{background-image: url(https://i.imgur.com/U2J74Gj.jpg);}
/* Stella Women's Academy, Class C³ */ #more17821{background-image: url(https://i.imgur.com/4PtHyUE.jpg);}
/* Strike Witches OVA */ #more1862{background-image: url(https://i.imgur.com/WWF2hDQ.jpg);}
/* Strike Witches */ #more3667{background-image: url(https://i.imgur.com/M6QjIkX.jpg);}
/* Strike Witches 2 */ #more6381{background-image: url(https://i.imgur.com/N4EVZy3.jpg);}
/* Strike Witches Movie */ #more9751{background-image: url(https://i.imgur.com/h3ojm1e.jpg);}
/* Strike Witches: Operation Victory Arrow */ #more23725{background-image: url(https://i.imgur.com/8fVQAKK.jpg);}
/* Symphogear */ #more11751{background-image: url(https://i.imgur.com/tnVq4qJ.jpg);}
/* Symphogear G */ #more15793{background-image: url(https://i.imgur.com/Ri6G3BD.jpg);}
/* Symphogear G Specials */ #more20843{background-image: url(https://i.imgur.com/3ghXiaJ.jpg);}
/* Symphogear GX */ #more21573{background-image: url(https://i.imgur.com/XJT0luJ.jpg);}
/* Three Leaves, Three Colors */ /*#more31564{background-image: url(https://i.imgur.com/9VXnT4i.jpg);}*/
/* Time Travel Girl */ /*#more33341{background-image: url(https://i.imgur.com/HTOkgkR.jpg);}*/
/* Tokyo Ghoul */ #more22319{background-image: url(https://i.imgur.com/uJJiVoK.jpg);}
/* Tokyo Ghoul Root A */ #more27899{background-image: url(https://i.imgur.com/5TFxi3v.jpg);}
/* Urara Meirochou */ #more32924{background-image: url(https://i.imgur.com/LGrJbfx.jpg);}
/* Valkyrie Drive: Mermaid */ #more30385{background-image: url(https://i.imgur.com/p3PTwJn.jpg);}
/* Vandread */ #more180{background-image: url(https://i.imgur.com/LEojKkG.jpg);}
/* Vandread Season 2 */ #more181{background-image: url(https://i.imgur.com/qM5JP8f.jpg);}
/* Vividred Operation */ #more14283{background-image: url(https://i.imgur.com/NkGOM3d.jpg);}
/* Wake Up, Girls! Shichinin no Idol */ #more21189{background-image: url(https://i.imgur.com/F9EeX5B.jpg);}
/* Whisper of the Heart */ #more585{background-image: url(https://i.imgur.com/WyzPN3j.jpg);}
/* Wish Upon the Pleiades */ #more17919{background-image: url(https://i.imgur.com/Ed64oct.jpg);}
/* WWW.Working! */ #more33094{background-image: url(https://i.imgur.com/zHVjp2Q.jpg);}
/* Yozakura Quartet Season 2: Hana no Uta */ #more18497{background-image: url(https://i.imgur.com/mMe2Ojs.jpg);}
/* Yozakura Quartet OVA 1: Hoshi no Umi */ #more8457{background-image: url(https://i.imgur.com/rG6NGm9.jpg);}
/* Yozakura Quartet OVA 2: Tsuki ni Naku */ #more18499{background-image: url(https://i.imgur.com/fsnEG5c.jpg);}
/* Yuri Kuma Arashi */ #more26165{background-image: url(https://i.imgur.com/L0a0YXc.jpg);}
/* Yuru Yuri */ #more10495{background-image: url(https://i.imgur.com/0DJgTgt.jpg);}
/* Yuru Yuri Special */ #more12665{background-image: url(https://i.imgur.com/76Zv1lz.jpg);}
/* Yuru Yuri Season 2 */ #more12403{background-image: url(https://i.imgur.com/1ICqjDe.jpg);}
/* Yuru Yuri OVA */ #more23225{background-image: url(https://i.imgur.com/ekhQKrG.jpg);}
/* Yuru Yuri OVA Specials */ #more30902{background-image: url(https://i.imgur.com/SCjk86q.jpg);}
/* Yuru Yuri Season 3 */ #more30279{background-image: url(https://i.imgur.com/POPFapi.jpg);}
/* Yuyushiki */ #more15911{background-image: url(https://i.imgur.com/13L6vRt.jpg);}
/* Yuyushiki Specials */ #more19029{background-image: url(https://i.imgur.com/rypEp8V.jpg);}
