#more396 { background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/197189.jpg); }
#more3198 { background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/15859.jpg); }
#more96240 { background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/172062.jpg); }