#more12 { background-image: url(https://cdn.myanimelist.net/images/manga/2/180089.jpg); }
#more6520 { background-image: url(https://cdn.myanimelist.net/images/manga/5/32636.jpg); }
#more25096 { background-image: url(https://cdn.myanimelist.net/images/manga/1/129309.jpg); }
#more598 { background-image: url(https://cdn.myanimelist.net/images/manga/3/198604.jpg); }
#more13 { background-image: url(https://cdn.myanimelist.net/images/manga/3/55539.jpg); }
#more11 { background-image: url(https://cdn.myanimelist.net/images/manga/3/117681.jpg); }
#more9711 { background-image: url(https://cdn.myanimelist.net/images/manga/1/208974.jpg); }
#more35003 { background-image: url(https://cdn.myanimelist.net/images/manga/3/82656.jpg); }
#more2921 { background-image: url(https://cdn.myanimelist.net/images/manga/2/120073.jpg); }
#more42451 { background-image: url(https://cdn.myanimelist.net/images/manga/2/162128.jpg); }
#more23052 { background-image: url(https://cdn.myanimelist.net/images/manga/2/167252.jpg); }
#more67617 { background-image: url(https://cdn.myanimelist.net/images/manga/3/115755.jpg); }