/* Comic Girls */ #more96240{background-image: url(https://i.imgur.com/eaO5EUL.jpg);}
/* Iono-sama Fanatics */ #more3198{background-image: url(https://i.imgur.com/0FHdO13.jpg);}
/* Kingdom Hearts */ #more396{background-image: url(https://i.imgur.com/Z2cLUGR.jpg);}